<div id="alert-message">
  <% if flash[:alert] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>

<table class="table table-responsive-sm table-striped table-hover table-sm table-maxwell-data">
  <thead>
    <tr>
      <th>#</th>
      <th class="action-column"></th>
    </tr>
  </thead>

  <tbody>
  
  </tbody>

  <tfoot>
    <tr>
      <td class="page-entries-info" colspan="7"></td>
    </tr>
  </tfoot>
</table>