<div class="card">
  <div class="card-header data-header">
    <div class="title">
      <%= t('.header') %>
      <% if current_user.group.organization %>
        <sub> (<%= current_user.group.organization.name %>)</sub>
      <% end %>
    </div>

    <div>
      <button type="button" class="btn btn-sm btn-primary">Movimiento entre depósitos</button>
      <% if can? :create, Inventory %>
        <%= link_to new_inventory_path, id: 'button_new', class: 'btn btn-sm btn-primary', data: { toggle: 'tooltip', trigger: 'hover', title: t('.tooltip.new') } do %>
          <i class="fa fa-plus"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <div id="inventories-table-container">
      <%= render 'inventories_table' %>
    </div>
  </div>
</div>